.header__container {
    background-image: url('../../assets/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 150px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__image {
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__image img {
    height: 90%;
}

.header__container:focus,
.header__image:focus {
    outline: none;
}

@media screen and (max-width: 480px) {
    .header__image img {
        height: 75%;
        margin-left: 5px;
    }
}