.home__container {
    display: grid;
    grid-template: auto 1fr auto / 1fr;
}

.home__searchbar {
    position: sticky;
    top: 1.2rem;
}

.home__button {
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .home__searchbar {
        top: 0.5rem;
        left: 0;
    }
}